version: "3.9"

services:
  backend:
    build: ./backend
    container_name: express-backend
    ports:
      - "1700:1700"
    restart: unless-stopped
    networks:
      - fullstack-net

  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "5173:3000"
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - fullstack-net

networks:
  fullstack-net:
    driver: bridge
